@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/FontsFree-Net-SFProDisplay-Bold.ttf');
}
@font-face {
  font-family: 'SFProDisplayNorm';
  src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf');
}
@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  background: url(../img/4@2x.png);
  background-size: cover;
  overflow: auto;
}

.close {
  margin: 0 1.5rem;
  margin-top: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  & a:nth-child(1) {
    transform: rotate(45deg);
    color: rgba(255, 255, 255, 0.4);
    div {
      width: 1rem;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 2rem;
      }
    }
  }
  #restore {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'SFProText';
  }
}

.titleBlock {
  margin-top: 9.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  & #title {
    text-align: center;
    font-family: 'SFProDisplay';
    font-size: 2.25rem;
    line-height: 2.63rem;
    color: #ffffff;
    text-shadow: 0px 0.13rem 0.25rem rgba(0, 0, 0, 0.5);
  }
}

@media (max-height: 736px) {
  .titleBlock {
    margin-top: 6.8rem;
  }
}
@media (max-height: 667px) {
  .titleBlock {
    margin-top: 2.8rem;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.8rem;
  div {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.875rem;
      }
      span {
        font-family: 'SFProText';
        font-size: 1.06rem;
        color: #fff;
        letter-spacing: -0.321111px; // убрать!!!!!!!
        text-shadow: 0px 0px 0.25rem rgba(0, 0, 0, 0.684495);
      }
    }
  }
}

.price {
  margin-top: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.card1,
.card2 {
  position: relative;
  width: 8.2rem;
  height: 10.1rem;
  border-radius: 1.2rem;
  border: 0.06rem solid #495795;

  cursor: pointer;
  opacity: 0.5;
  transition: scale 0.3s, opacity 0.3s;

  div {
    color: #fff;
    text-align: center;
    font-family: 'SFProDisplay';
    letter-spacing: 0.06rem;
  }
}
.card1.active,
.card2.active {
  scale: 1.1;
  opacity: 1;
  background: rgba(73, 87, 149, 0.197154);
}

.percentBlock {
  position: absolute;
  top: -0.625rem;
  right: -0.3125rem;
  width: 2.44rem;
  height: 2.44rem;
  border-left: 0.06rem solid #495795;
  transform: rotate(-45deg);
  border-radius: 50%;
  z-index: 10;
}

#num83 {
  position: absolute;
  transform: rotate(45deg);
  top: 0.125rem;
  right: 0.06rem;
  width: 2.19rem;
  height: 2.19rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #db0000;
  font-family: 'SFProDisplay';
  font-size: 0.625rem;
  line-height: 0.75rem;
}

#monthly,
#annually {
  margin-top: 1.44rem;
  font-size: 1.06rem;
}
#perMonth,
#perYear {
  font-family: 'SFProDisplayNorm';
  margin-top: 1.125rem;
  font-size: 0.875rem;
  line-height: 0.94rem;
  &::first-line {
    font-size: 1.375rem;
  }
}
#DAYSFREE,
#MOSTPOPULAR {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6.25rem;
  left: -0.19rem;
  width: 8.56rem;
  height: 1.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  background: #495795;
}

#priceMonth,
#priceMonth2 {
  font-family: 'SFProDisplayNorm';
  margin-top: 2.5rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 17.5rem;
  height: 3.375rem;
  margin-top: 1.5rem;
  background: linear-gradient(270deg, #1987ff 0%, #19ccff 100%);
  border-radius: 1.875rem;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'SFProDisplay';
  font-size: 1.06rem;
  line-height: 1.06rem;
}

button:active {
  box-shadow: 0 0 0.625rem #19ccff;
}

#autoRenewable {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0.5;
  font-size: 0.69rem;
  line-height: 0.81rem;
  font-family: 'Roboto';
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.69rem;
}

#terms,
#privacy {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  text-decoration-line: underline;
  color: #bdc0d0;
}
